<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luge.performancedemo">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="me.wsj.performance.APMApplication"
        android:theme="@style/Theme.PerformanceDemo">
        <activity
            android:name="me.wsj.performance.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="me.wsj.batterycheck.LauncherHelpProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:multiprocess="true" />
        <receiver android:name="me.wsj.batterycheck.BatteryLevelReceiver" />
    </application>

</manifest>