<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wsj.performance">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".APMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerformanceDemo">
        <activity
            android:name=".ui.JankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ThreadActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="me.wsj.performance.Thread"
            android:exported="false" />
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FuncActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>