<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wsj.core">

    <application>


        <provider
            android:name="me.wsj.apm.battery.LauncherHelpProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:multiprocess="true" />

        <receiver android:name="me.wsj.apm.battery.BatteryLevelReceiver" />
    </application>
</manifest>